<footer class="mt-auto footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-12 text-center">
                <p class="mb-0">
                    <a href="index.html" class="text-muted"><strong>&copy 2021 TexLine.</a> Created By <a href='https://www.linkedin.com/in/arkapravabandyopadhyay/' class="text-muted">Arka Prava Bandyopadhyay. </strong></a> 
                </p>
            </div>
            <!-- <div class="col-6 text-right">
                <ul class="list-inline">
                    <li class="footer-item">
                        <a class="text-muted" href="#">Support</a>
                    </li>
                    <li class="footer-item">
                        <a class="text-muted" href="#">Help Center</a>
                    </li>
                    <li class="footer-item">
                        <a class="text-muted" href="#">Privacy</a>
                    </li>
                    <li class="footer-item">
                        <a class="text-muted" href="#">Terms</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>