{% load static %}
<!-- Topbar -->
<nav class="navbar navbar-expand sticky-top navbar-light my-navbar" style="background-color: rgba(0,0,0,0.8);">

    <!-- Sidebar Toggle (Topbar) -->
    <div type="button" id="bar" class="nav-icon1 hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <a class="navbar-brand text-light mx-auto bg-white" href="#" >
        <img class="img-fluid mb-1 ml-4 mr-4", src="{% static 'images/logo.webp' %}" style="height:45px;">
    </a>


    <!-- Topbar Navbar -->

    <ul class="navbar-nav ml-auto">
        

        <span class="navbar-text text-light mt-2 mr-sm-2">
            Hi, {{request.user}}
          </span>
        <!-- Nav Item - User Information -->
        <!-- <span class="mr-2 d-none text-light d-lg-inline ">Hi, Arka</span> -->
        <li class="nav-item dropdown mb-2">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
        </li>
        </a>

    </ul>

</nav>
<!-- End of Topbar -->