<!-- ALL KPIS -->
<div class="col-md-12 text-center">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">KPI 1</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_orders}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">KPI 2</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_customers}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">KPI 3</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_iphone_sold}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">KPI 4</h5>
                    <h1 class="display-5 mt-1 mb-3">${{total_sales}}</h1>
                    <div class="mb-1">
                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>