{%  extends 'app/main.html' %}

{% block title %} Orders {% endblock %}
{% block content %}


<div class="container-fluid px-lg-4">
    {%  include 'app/dashboard/KPI_header.html' %}
    <div class='row'>
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Order Details</h4>
                            <h5 class="card-subtitle">Overview of Order Details</h5>
                        </div>
                        <div class="ml-auto">
                            <div class="dl">
                                <select class="custom-select">
                                    <option value="0" selected="">Monthly</option>
                                    <option value="1">Daily</option>
                                    <option value="2">Weekly</option>
                                    <option value="3">Yearly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- title -->
                </div>
                <div class="mx-3">
                    <table class="table table-sm" id='orderDetails'>
                        <thead class='thead-light'>
                            <tr>
                                <th>IC</th>
                                <th>Delivery</th>
                                <th>Date Placed</th>
                                <th>Cust Fty Code</th>
                                <th>Destination</th>
                                <th>Buyer</th>
                                <th>Consol Num</th>
                                <th>Dept</th>
                                <th>Style</th>
                                <th>Colour</th>
                                <th>Size</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Carton Qty On Order</th>
                                <th>No Of Cartons Per Sku</th>
                                <th>Uk Cost Price On Order</th>
                                <th>Pricing Type On Order</th>
                                <th>Selling Price On Order</th>
                                <th>Ticket Price On Order</th>
                                <th>Ticket Type On Order</th>
                                <th>Ticket Type Id On Order</th>
                                <th>Update</th>
                                <!-- <th>Actions</th> -->
                            </tr>
                        </thead>
                        <tfoot class='thead-light'>
                            <tr>
                                <th>IC</th>
                                <th>Delivery</th>
                                <th>Date Placed</th>
                                <th>Cust Fty Code</th>
                                <th>Destination</th>
                                <th>Buyer</th>
                                <th>Consol Num</th>
                                <th>Dept</th>
                                <th>Style</th>
                                <th>Colour</th>
                                <th>Size</th>
                                <th>Description</th>
                                <th>Qty</th>
                                <th>Carton Qty On Order</th>
                                <th>No Of Cartons Per Sku</th>
                                <th>Uk Cost Price On Order</th>
                                <th>Pricing Type On Order</th>
                                <th>Selling Price On Order</th>
                                <th>Ticket Price On Order</th>
                                <th>Ticket Type On Order</th>
                                <th>Ticket Type Id On Order</th>
                                <th>Update</th>
                                <!-- <th>Actions</th> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
/*    $(document).ready(
        function() {
        // Setup - add a text input to each footer cell
        $('#orderDetails thead tr').clone(true).appendTo( '#orderDetails thead' );
        $('#orderDetails thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
                $(this).html( '<input type="text"  placeholder=" Search ' + title + '" />');
    
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
            } );
        } ); 





        var table = $('#orderDetails').DataTable({
            lengthMenu: [[10, 20, 50], [10, 20, 50]],
            orderCellsTop: true,
            fixedHeader: true,
            "serverSide": true,
            "ajax": "/api/order_details/?format=datatables",
            "columns": [
                {"data": "ic"},
                // Use dot notation to reference nested serializers.
                // This data: could alternatively be displayed with the serializer's ReadOnlyField as well, as seen in the minimal example.
                {"data": "delivery"},
                {"data": "date_placed"},
                {"data": "cust_fty_code"},
                {"data": "destination"},
                {"data": "buyer"},
                {"data": "consol_num"},
                {"data": "dept"},
                {"data": "style"},
                {"data": "colour"},
                {"data": "size"},
                {"data": "description"},
                {"data": "qty"},
                {"data": "carton_qty_on_order"},
                {"data": "no_of_cartons_per_sku"},
                {"data": "uk_cost_price_on_order"},
                {"data": "pricing_type_on_order"},
                {"data": "selling_price_on_order"},
                {"data": "ticket_price_on_order"},
                {"data": "ticket_type_on_order"},
                {"data": "ticket_type_id_on_order"},
                {
                    "data": null,
                    "render": function ( data, type, row ) {
                        var output = "<a class=\"btn btn-sm btn-info\" href=\"{% url 'update_order' 12345 %}\">" + "Update </a>"
                        output = output.replace(12345, data.delivery.toString());
                        return output;
                    }
                  }
            ],
            stateSave: true,
            stateDuration:-1,
            scrollY:true,
            scrollX :true,
            scrollCollapse: false,
            paging:         true,
            dom: 'Blfrtip',
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }
            ],
            buttons: [
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)',
                    text:'Select Columns'
                    
                },
                {
                    extend: 'collection',
                    text: 'Download',
                    buttons: [
                        {
                            text: 'Copy',
                            extend:'copy',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'CSV',
                            extend:'csv',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'Excel',
                            extend:'excel',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'PDF',
                            extend:'pdf',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'Print',
                            extend:'print',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
    
                    ]
                }
            ]
        });


        $(document).on( 'init.dt', function AfterLoad( e, settings ) {
            var api = new $.fn.dataTable.Api( settings );
            var state = api.state.loaded();            
            var c=0
              $('input[type=text]').each(function()
            {
                var searchText = state.columns[c].search.search;
                console.log(searchText)
                if(!$(this).val()) { 
                    if (searchText!=""){
               
               $(this).val(searchText);
            };

               c=c+1;
            }
            });   
                    } ); 

    // Apply the search




        
    } );
    */

    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#orderDetails tfoot th').each( function () {
            var title = $('#orderDetails thead th').eq( $(this).index() ).text();
            // Custom Styling for the search boxes
            var styling = `display: block;width: 100; height: calc(2rem + 2px);
            padding: .1rem .1rem;
            font-size: .9rem;
            line-height: 1;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;`

            $(this).html( '<input type="text" style="'+styling+'" placeholder="'+title+'" />' );
        } );
     
        // DataTable
        var table = $('#orderDetails').DataTable({
            lengthMenu: [[5, 10, 20, 50, 100], [5, 10, 20, 50, 100]],
            orderCellsTop: true,
            fixedHeader: {
                header: true,
                footer: true
            },
            "serverSide": true,
            "ajax": "/api/order_details/?format=datatables",
            "columns": [
                {"data": "ic"},
                // Use dot notation to reference nested serializers.
                // This data: could alternatively be displayed with the serializer's ReadOnlyField as well, as seen in the minimal example.
                {"data": "delivery"},
                {"data": "date_placed"},
                {"data": "cust_fty_code"},
                {"data": "destination"},
                {"data": "buyer"},
                {"data": "consol_num"},
                {"data": "dept"},
                {"data": "style"},
                {"data": "colour"},
                {"data": "size"},
                {"data": "description"},
                {"data": "qty"},
                {"data": "carton_qty_on_order"},
                {"data": "no_of_cartons_per_sku"},
                {"data": "uk_cost_price_on_order"},
                {"data": "pricing_type_on_order"},
                {"data": "selling_price_on_order"},
                {"data": "ticket_price_on_order"},
                {"data": "ticket_type_on_order"},
                {"data": "ticket_type_id_on_order"},
                {
                    "data": null,
                    "render": function ( data, type, row ) {
                        var output = "<a class=\"btn btn-sm btn-info\" href=\"{% url 'update_order' 12345 %}\">" + "Update </a>"
                        output = output.replace(12345, data.delivery.toString());
                        return output;
                    }
                  }
            ],
            stateSave: true,
            scrollY:true,
            scrollX :true,
            scrollCollapse: false,
            paging:         true,
            dom: 'Blfrtip',
            columnDefs: [
                {
                    targets: 1,
                    className: 'noVis'
                }
            ],
            buttons: [
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)',
                    text:'Select Columns'
                    
                },
                {
                    extend: 'collection',
                    text: 'Download',
                    buttons: [
                        {
                            text: 'Copy',
                            extend:'copy',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'CSV',
                            extend:'csv',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'Excel',
                            extend:'excel',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'PDF',
                            extend:'pdf',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
                        {
                            text: 'Print',
                            extend:'print',
                            exportOptions: {
                                columns: [ 0, ':visible' ]
                            }
                            
                        },
    
                    ]
                }
            ]
        });
      
        // Restore state
        var state = table.state.loaded();
        if ( state ) {
          table.columns().eq( 0 ).each( function ( colIdx ) {
            var colSearch = state.columns[colIdx].search;
            
            if ( colSearch.search ) {
              $( 'input', table.column( colIdx ).footer() ).val( colSearch.search );
            }
          } );
          
          table.draw();
        }
        
        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                    .search( this.value )
                    .draw();
            } );
        } );
    } );

</script>
{% endblock %}